@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

:root {
  --orange: hsla(22, 89%, 52%, 1);
  --light-orange: hsla(22, 100%, 69%, 1);
  --dark-blue: hsla(220, 50%, 17%, 1);
  --light-blue: hsla(221, 23%, 58%, 1);
  --gray: hsla(198, 28%, 93%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

body {
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Barlow', sans-serif;
  background-color: #f8f8f8;
}

/* headings and buttons */

h1 {
  font: 900 56px/56px 'Barlow', sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}

h2 {
  font: 900 32px/36px 'Barlow', sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}

h3 {
  font: 900 24px/28px 'Barlow', sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}

p {
  font: 400 16px/26px 'Barlow', sans-serif;
  color: var(--light-blue);
}

h4 {
  font: 700 16px/26px 'Barlow', sans-serif;
  color: var(--light-blue);
  text-transform: uppercase;
}

.btn {
  font: 700 16px/26px 'Barlow', sans-serif;
  padding: 16px 26px;
  background-color: var(--orange);
  text-transform: uppercase;
  color: white;
  border-radius: 8px;
}

.btn-hover {
  background-color: var(--light-orange);
}

.btn-secondary {
  background-color: var(--gray);
  color: var(--dark-blue);
}

.btn-secondary-hover {
  color: var(--dark-blue);
  color: var(--white);
}

/* general css */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-inline: 20px;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 82px;
}

.hero-heading img,
.hero-image img,
.grid-1 img,
.grid-2 img,
.grid-3 img {
  max-width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

main {
  overflow: hidden;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 30px;
  grid-template-areas:
    'hero-heading hero-heading hero-image hero-image'
    'grid-1 grid-2 grid-2 grid-3';
  padding-bottom: 168px;
  position: relative;
  overflow: visible;
}

.hero-grid::before {
  content: " ";
  display: block;
  position: absolute;
  left: -265px;
  bottom: 167px;
  width: 255px;
  height: 240px;
  opacity: 70%;
  background: linear-gradient(42.85deg, #E8EFF2 2%, #DEE5E8 48.45%);
  border-radius: 20px;
}

.hero-grid::after {
  content: " ";
  display: block;
  position: absolute;
  right: -265px;
  width: 255px;
  height: 240px;
  opacity: 70%;
  background: linear-gradient(42.85deg, #E8EFF2 2%, #DEE5E8 48.45%);
  border-radius: 20px;
}


.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: hero-heading;
}

.flex {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-heading h1 {
  padding-bottom: 24px;
}

.hero-heading p {
  padding-bottom: 40px;
  max-width: 500px;
}

.hero-image {
  display: flex;
  grid-area: hero-image;
}

.grid-1 {
  display: flex;
  grid-area: grid-1;
  border-radius: 20px;
  background-color: var(--orange);
}

.grid-1 img {
  mix-blend-mode: multiply;
  opacity: 75%;
}

.grid-2 {
  display: flex;
  padding-right: 60px;
  grid-area: grid-2;
}

.grid-3 {
  display: flex;
  flex-direction: column;
  grid-area: grid-3;
  gap: 24px;
  justify-content: center;
}

.features {
  display: flex;
  gap: 36px;
  margin-bottom: 128px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 16px;
  margin-bottom: 40px;
  background-color: var(--orange);
}


.icon img {
  display: block;
  padding: 16px;
}

.feature-item h3 {
  padding-bottom: 24px;
}

.feature-item p {
  font: 400 15px/28px 'Barlow', sans-serif;
  color: var(--light-blue);
}

footer {
  text-align: center;
  padding-bottom: 40px;
}